<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <title>縮短網址產生器 - bingcheng</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <style>
        button {
            margin-top: 15px
        }

        body {
            background-color: #17a2b8;
            ;
        }
    </style>
</head>
<section>
    <div class="shorten-overlay text-center pt-5">
        <div class="container">
            <div align="center" class="col-md-10 col-12">
                <h1>Shorten it. Track it.</h1>
                <form action="" method="post" id="trackForm">
                    <div class="input-group-lg">
                        <input id="shortenBox" name="url" type="text" autofocus="autofocus"
                            class="form-control input-cls" placeholder="輸入合法的網址或是追蹤碼">
                    </div>
                    <div class="form-group col-xs-12">
                        <button type="button" id="shortenUrl" class="btn btn-info"
                            style="margin-right: 10px;border-color: azure;" onclick="shortenUrlForm()">縮短網址</button>
                        <button type="button" class="btn btn-info" style="border-color: azure;"
                            onclick="traceUrl()">追蹤網址</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function validateUrl(str) {
        var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator

        //Converts Object to boolean
        return !!pattern.test(str)
    }
    function validateTraceCode(str) {
        var pattern = new RegExp('^[0-9a-zA-Z]+$')
        return !!pattern.test(str)
    }

    function shortenUrlForm() {
        var str = document.getElementById("shortenBox").value
        if (!validateUrl(str)) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '您輸入的不是合法的網址。',
            })
        }
        else {
            document.getElementById("trackForm").submit()
        }
    }
    function trackUrl() {
        var str = document.getElementById("shortenBox").value
        if (str == "")
            return
        if (!validateTraceCode(str)) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '追蹤碼只包含大小寫英文及數字',
            })
            return
        }
        else {
            window.location.href = '/track/' + str
        }

    }

</script>

</html>